* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    display: block;
    padding: 10px;
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    text-align: center;
    position: relative;
}

header h1 {
    flex: auto;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    border-bottom: 1px solid aliceblue;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: rgb(195, 230, 215);
    font-weight: bolder;
    padding: 20px;
    margin: 5px;
}

a:hover {
    color:aliceblue;
}

nav {
    top: 0;
    background-color: rgb(0, 0, 0, 0.75);
    margin: 7px 0;
    padding: inherit;
    display: block;
    width: 100%;
    height: 70px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

li {
    display: inline;
    margin: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: rgb(0, 0, 0, 0.75);
    padding: 20px 40px;
}

footer h3 {
    color: aliceblue;
}

main {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

section {
    align-content: center;
    width: 100%;
}

section h2 {
    border-bottom: 2px solid aliceblue;
}

/* Skills section */
.percent-section {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.75);
}

.percent-section h3 {
    font-weight: bolder;
    color: aliceblue;
    text-transform: capitalize;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bolder;
}

.html {
    width: 80%;
    background-color: rgb(195, 230, 215);
}

.css {
    width: 75%;
    background-color: rgb(195, 230, 215);
}

.git {
    width: 70%;
    background-color: rgb(195, 230, 215);
}

.semantic {
    width: 65%;
    background-color: rgb(195, 230, 215);
}

.rwd {
    width: 60%;
    background-color: rgb(195, 230, 215);
}

/* Project section */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.75);
}

.projects h3 {
    text-align: justify;
    color: aliceblue;
}

.projects img {
    width: 300px;
    height: 200px;
}

.projects:hover img {
    transform: scale(1.5);
}

.projects p {
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}

/* About section */
.about {
    display: flex;
    flex: 1 auto;
    flex-wrap: wrap;
}

.about span {
    color: aliceblue;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    font-size: large;
}

.about-pic {
    border: 1px solid black;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    font-weight: bold;
    margin: 5px;
}

.about p {
    text-align: justify;
}

/* contact section */
.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.contact a {
    margin: 0 auto;
    float: left;
}

.contact h2 {
    padding: 10px;
}

.contact p {
    margin: 20px;
}

/* RWD */
@media screen and (max-width:600px) {

    .projects {
        flex: 0 100%;
    }
}